.map{
    width: 100%;
    margin: auto;
    padding: 2rem 0;
    iframe{
        margin: auto;
        width: 90%;
        display: block;
        border: none;
        height: 60rem;
        border-radius: 2rem;
        box-shadow: 1px 1px 10px rgba(5, 5, 5, 0.237);

    }
}